@media (min-width: 769px) and (max-width: 992px) {
    .header, 
    .userinfo, 
    .recommendation, 
    .footer {
        width: 854px;
    }
    .header__list {
        font-size: 18px;
    }
    .header__link {
        margin: 0px 0px 0px 32px;
    }
    .wrap_userinfo {
        height: 906px;
    }
    .userinfo {
        height: 716px;
    }
    .userinfo__list {
        grid-template-columns: 53% 47%;
        grid-template-rows: 6% 11% 8% 8% 8% 7% 5% 10% 20% 11% 4%;
    }
    .userinfo__list > li:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        font-family: 'Manrope-Bold';
        font-style: normal;
        font-weight: bold;
        font-size: 35.8898px;
        line-height: 49px;
        color: #000000;
    }
    .userinfo__list > li:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-top: 0px;
    }
    .userinfo__list > li:nth-child(3) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(4) {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .userinfo__list > li:nth-child(5) {
        grid-row: 9 / 10;
        grid-column: 1 / 2;
        font-size: 18px;
    }
    .userinfo__list > li:nth-child(6) {
        grid-row: 10 / 11;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(7) {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(8) {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .userinfo__list > li:nth-child(9) {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(10) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    .userinfo__list > li:nth-child(11) {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(12) {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }
    .userinfo__list > li:nth-child(13) {
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(14) {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }
    .userinfo__list > li:nth-child(15) {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }
    .userinfo__list > li:nth-child(16) {
        grid-row: 11 / 12;
        grid-column: 1 / 2;
    }
    .userinfo__style1 {
        font-size: 18px;
    }
    .wrap_recomendation {
        height: 251px;
    }
    .recommendation {
        width: 854px;
        height: 100%;
    }
    .recommendation-text {
        font-size: 18px;
    }
    .wrap_footer {
        height: 643px;
    }
    .footer__question {
        height: 374px;
        grid-template-columns: 52% 48%;
        grid-template-rows: 15% 85%;
        margin-bottom: 139px;
    }
    .question__heading {
        font-size: 30px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .question__paragraph {
        font-size: 18px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .question__form {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        display: grid;
        grid-template-rows: 16% 16% 56% 12%;
    }
    .form__name {
        width: 413px;
        height: 52px;
    }
    .form__contact {
        width: 413px;
        height: 52px;
    }
    .form__question {
        width: 413px;
        height: 168px;
    }
    .form__send {
        width: 150px;
        height: 52px;
        font-size: 18px;
    }
    input::placeholder {
        font-size: 18px;
    }
    input[type="text"] {
        font-size: 18px;
    }
    .footer__list {
        width: 100%;
        height: 130px;
        display: grid;
        grid-template-columns: 12% 19% 15% 54%;
        grid-template-rows: 32% 28% 39%;
        font-size: 16px;
    }
    .footer__list > li:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .footer__button {
        font-size: 16px;
    }
    .footer__list > li:nth-child(2) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    .footer__list > li:nth-child(3) {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    .footer__list > li:nth-child(4) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .footer__list > li:nth-child(5) {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }
    .footer__list > li:nth-child(6) {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }
    .footer__list > li:nth-child(7) {
        grid-row: 3 / 4;
        grid-column: 1 / 5;
    }
}